SHELL="/bin/bash"
# wipe_db.php runs at 3pm MST on Sunday which is 11pm UTC
0 15 * * 0 /usr/local/bin/php /home/xvk3/ghu/wipe_db.php >> /home/xvk3/ghu/wipe_db.log

# permit_registration.php runs at 4pm MST on Sunday which is midnight UTC
0 16 * * 0 /usr/local/bin/php /home/xvk3/ghu/permit_registration.php >> /home/xvk3/ghu/permit_registration.log

# permit_guesses.php runs at 4pm MST on Tuesday which is midnight UTC
0 16 * * 2 /usr/local/bin/php /home/xvk3/ghu/permit_guesses.php >> /home/xvk3/ghu/permit_guesses.log

# calculate_winner.php runs at 4pm MST on Thursday which is midnight UTC
0 16 * * 4 /usr/local/bin/php /home/xvk3/ghu/calculate_winner.php >> /home/xvk3/ghu/calculate_winner.log
